@use 'variables' as *;

:host {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    pointer-events: none;
    background-color: $black;
  }

  .wrapper {
    height: 100vh;
    height: 100dvh;
    position: relative;
    z-index: 1;
    background-color: transparent;

    .link {
      height: 30px;
      width: 200px;
      position: absolute;
      bottom: 5vh;
      left: 50%;
      transform: translateX(-100px);
      font-family: 'Exo 2';
      color: $blue;
      text-align: center;
      cursor: pointer;
    }
  }

  @media(max-width: 650px) {
    .wrapper {
      .link {
        display: none;
      }
    }
  }
  